gunicorn
cdsapi==0.7.5
dash_bootstrap_components==2.0.2
geopandas==1.0.1
matplotlib==3.6.3
numpy==1.24.2
pandas==2.2.3
plotly==6.0.0
rasterio==1.4.3
scikit_learn==1.3.2
scipy==1.15.3
seaborn==0.13.2
Shapely==2.1.0
tqdm==4.67.1
xarray==2025.3.0
